.btn {
  padding: 1.6rem 3.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  border-radius: 37px;

  &--secondary {
    background-color: $secondary-color-2;
    color: $light-text-color;
  }

  &--secondary-outlined {
    background-color: transparent;
    color: $secondary-color-2;
    border: 1px solid $secondary-color-2;
  }
}
