@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400;700;800;900&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $text-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Martel";
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1320px;
}
