@mixin row($dir: row) {
  display: flex;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin padding-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin margin-y($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin margin-x($value) {
  margin-left: $value;
  margin-right: $value;
}
