$primary-color: rgba(208, 161, 68, 1);
$secondary-color-1: rgba(253, 182, 2, 1);
$secondary-color-2: rgba(120, 79, 51, 1);
$secondary-color-3: rgba(219, 180, 104, 1);
$secondary-color-4: rgba(41, 92, 122, 1);
$text-color: rgba(37, 43, 66, 1);
$second-text-color: rgba(115, 115, 115, 1);
$light-text-color: rgba(255, 255, 255, 1);
$dark-background-color: rgba(37, 43, 66, 1);
$light-background-color: rgba(255, 255, 255, 1);
$hover-color: rgba(42, 124, 199, 1);
$disabled-element-color: rgba(142, 194, 242, 1);
$muted-color: rgba(189, 189, 189, 1);
$success-color: rgba(45, 192, 113, 1);
$alert-color: rgba(231, 124, 64, 1);
$danger-color: rgba(231, 64, 64, 1);
