@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --bg_color: hsl(218, 28%, 13%);
  --bg_light_color: hsl(217, 28%, 15%);
  --feedback_bg_color: hsl(219, 30%, 18%);
  --footer_color: hsl(216, 53%, 9%);
  --text_color: #f6f6f6;
  --btn_color: hsl(198, 60%, 50%);
  --btn_hover_color: hsl(198, 100%, 78%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg_color);
  color: var(--text_color);
  font-family: "Open Sans";
  font-size: 1.6rem;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
header,
.desc_title {
  font-family: "Raleway";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
}

button {
  cursor: pointer;
}

.continer {
  padding-left: 5%;
  padding-right: 5%;
}

.desc_title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
}

.desc_content {
  font-size: 1.8rem;
}

/* top header*/

.main_header {
  padding-top: 50px;
  background-color: var(--bg_light_color);
  display: flex;
  flex-direction: column;
}

.main_nav {
  height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo img {
  height: 4.5rem;
}

.main_nav_items {
  display: flex;
  align-items: center;
}

.main_nav_items li {
  margin: 5px 20px;
  opacity: 0.8;
}

.main_nav_items li:hover {
  border-bottom: 1px solid var(--text_color);
  opacity: 1;
}

.main_nav_items li a {
  white-space: nowrap;
}

.btn {
  text-align: center;
  border: none;
  background-color: var(--btn_color);
  border-radius: 30px;
  color: var(--text_color);
  font-weight: 700;
}

.btn:hover {
  background-color: var(--btn_hover_color);
}

/* Intro section */

.intro {
  background: var(--bg_light_color) url(images/bg-curvy-desktop.svg) bottom
    no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 23rem;
}

.intro img {
  margin-top: 20px;
}

.intro .desc_content {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 100;
  max-width: 50%;
}

.intro .btn {
  width: fit-content;
  padding: 2rem 3rem;
  font-size: 1.7rem;
}

/* features section */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature h4 {
  font-size: 2rem;
  margin: 3rem 0 1rem 0;
}

.feature p {
  max-width: 40rem;
}

/* stay productive section */
.stay-productive {
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 5rem;
}

.stay-productive div {
  display: grid;
  gap: 20px;
}

.stay-productive .desc_content {
  font-size: 1.7rem;
}

.stay-productive .desc_title {
  line-height: 5rem;
}

.stay-productive a {
  display: flex;
  align-items: center;
  opacity: 0.8;
  width: fit-content;
}

.stay-productive a:hover {
  border-bottom: 1px solid var(--text_color);
  opacity: 1;
}

/*feedbacks section */

.customers_feedbacks {
  margin-bottom: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  position: relative;
}

.feedback:first-child:before {
  content: url("images/bg-quotes.png");
  position: absolute;
  left: 4%;
  top: -35px;
  z-index: -1;
}

.feedback {
  background-color: var(--feedback_bg_color);
  padding: 3rem;
}

.feedback_content {
  font-size: 1.45rem;
  opacity: 0.8;
}

.customer {
  margin-top: 3rem;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 25px 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.customer img {
  grid-row: 1/3;
  width: 100%;
  border-radius: 50%;
}

.customer span {
  font-size: 0.8rem;
}

.customer span:nth-of-type(1) {
  font-size: 1.1rem;
  font-weight: 700;
}

/* main footer */

.main_footer {
  background-color: var(--footer_color);
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  column-gap: 4rem;
  padding-top: 20rem;
  padding-bottom: 5rem;
  position: relative;
}

/*-------------- form */
.email_form_box {
  width: 70%;
  position: absolute;
  left: 0;
  right: 0;
  top: -40%;
  margin: 0 auto;
  background-color: var(--bg_light_color);
  padding: 2rem 5%;
  text-align: center;
  border-radius: 5px;
  display: grid;
  gap: 3rem;
}

.email_form_box .desc_title {
  font-size: 3rem;
}

.email_form_box .desc_content {
  font-size: 1.4rem;
}

.email_form {
  min-height: 4.5rem;
  height: 5rem;
  display: grid;
  grid-template-columns: 4fr 2fr;
  column-gap: 3rem;
}

.email_form input {
  padding: 5px 15px;
  border-radius: 30px;
  border: none;
}

.email_form .btn {
  width: 100%;
}

/*-------------- footer sections */

.footer_info .info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.footer_info .info p {
  margin: 0 1rem;
}

.footer_info .info .fa-map-marked-alt {
  align-self: flex-start;
}

.quick_access ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.7rem;
}

.quick_access ul li:hover {
  font-weight: 700;
}

.social_media {
  display: flex;
  justify-content: center;
}

.social_media a {
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--text_color);
}

.social_media a:hover {
  color: var(--btn_color);
  border-color: var(--btn_color);
}

@media screen and (max-width: 950px) {
  .main_nav_items {
    font-size: 2.5rem;
  }

  .intro {
    background-size: 100% auto;
    padding: 1rem;
  }

  .intro img {
    margin-top: 10rem;
    width: 90%;
  }

  .intro .desc_title {
    font-size: 3.2rem;
  }

  .intro .desc_content {
    font-size: 1.6rem;
  }

  .intro br {
    display: none;
  }

  .features {
    margin-top: 10rem;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .stay-productive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .stay-productive img {
    width: 90%;
  }

  .stay-productive a {
    width: 90%;
    margin: 0 auto;
  }

  .stay-productive a img {
    width: 3rem;
  }

  .stay-productive br {
    display: none;
  }

  .customers_feedbacks {
    grid-template-columns: 80%;
    justify-content: center;
  }

  .customer {
    grid-template-columns: 35px 1fr;
    font-size: rem;
  }

  .customer span {
    font-size: 1.1rem;
  }

  .customer span:nth-of-type(1) {
    font-size: 1.5rem;
  }

  .feedback:first-child:before {
    left: 8rem;
  }

  .email_form_box {
    width: 90%;
    top: -20%;
  }

  .email_form {
    grid-template-columns: 1fr;
    gap: 1rem;
    min-height: 12rem;
  }

  .main_footer {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-content: center;
    padding-top: 30rem;
  }

  .social_media {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 420px) {
  .main_nav {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .main_nav_items {
    flex-direction: column;
    margin: 2rem 0;
  }
}
